:root {
	--BackgroundColour: #000000;
	--TextColour: #ffffff;
	--FontFamily: sans-serif;
	--Magic: #ff0000;
}

/*******************************************************************************
*******************************************************************************/

* { box-sizing: border-box; }

/*******************************************************************************
*******************************************************************************/

html, body {
	background: var(--BackgroundColour);
	color: var(--TextColour);
	font-family: var(--FontFamily);

	margin: 0px;
	padding: 0px;
	height: 100vh;
	width: 100vw;
}

/*******************************************************************************
*******************************************************************************/

.position-absolute { position: absolute; }
.position-absolutely { position: absolute; top: 0px; left: 0px; height: 100vh; width: 100vw; }
.position-relative { position: relative; }

/*******************************************************************************
*******************************************************************************/

#ScreenHome {
	background: rgb(131,58,180);
	background: linear-gradient(73deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
